<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="/images/default-150x150.png"
                alt="{{persona.NombreCompleto}}">
        </div>

        <h3 class="profile-username text-center">{{persona.Titulo }} {{persona.NombreCompleto}}</h3>

        <p class="text-muted text-center">{{persona.Cargo}}</p>
        <p class="text-muted text-center">{{persona.Correo}}</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Area</b> <a class="float-right">{{ persona.Area}}</a>
            </li>
            <li class="list-group-item">
                <b>Edificio</b> <a class="float-right">{{ persona.Edificio}}</a>
            </li>
            <li class="list-group-item">
                <b>Extension</b> <a class="float-right">{{ persona.Extension}}</a>
            </li>
        </ul>

        <a href="/directorio/edit/{{id}}" class="btn btn-primary btn-block"><b>Editar</b></a>
    </div>
    <!-- /.card-body -->
</div>